<div>
<h4>Titre</h4>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, debitis saepe ratione consectetur eligendi eaque, quia pariatur, commodi quidem accusantium blanditiis? Et eos assumenda ducimus voluptatibus nulla, rerum voluptates atque.</p>
<div style="display: flex;justify-content: center;">
    <img src="\assets\images\resources\page8.jpg" alt="" style="border-radius: 10px;">
    <img src="\assets\images\resources\page8.jpg" alt="" style="border-radius: 10px;">
</div>
<div style="display: flex;justify-content: space-between; margin-top: 20px; border: 2px rgba(128, 128, 128, 0.589) solid;border-radius: 10px;padding: 10px;">    <div>
       <b> <i class="ti-heart"></i>&nbsp;&nbsp;1 250 likes</b>
    </div>
    <div>
        523 commentaires
    </div>
</div>
</div>
<br><br>
