<div class="example-container">

  <mat-toolbar class="example-toolbar">
    <span><h1>Créer une publication</h1></span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close btnClose" mat-button color="warn" (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
  </mat-toolbar>
  <br>
  <div class="col-xl-8" style="margin-left: auto; margin-right: auto">
    <!-- Account details card-->
    <div class="card md-4">

      <div class="card-body">
        <form >
          <div class="form-group">
            <input type="text" />
            <label class="control-label" for="input">Titre</label><i class="mtrl-select"></i>
          </div>
          <div class="form-group">
            <textarea rows="2" placeholder="Quoi de neuf ?"></textarea>
            <label class="control-label" for="input">Description</label><i class="mtrl-select"></i>
          </div>
          <div class="form-group">
            <label> Choisir les 2 images que vous avez fait </label>
            <input type="file" required="required"/>

          </div>


          <!-- Save changes button-->
          <div class="text-center">
            <button class="btn btn-primary" type="submit">Enregistrer</button>
            <button class="btn btn-danger" type="button" >Retour</button>
          </div>
        </form>
      </div>
    </div>
  </div>


</div>


