@import '~bootstrap/dist/css/bootstrap.min.css';
.btn-dialog-close{
  width: 45px;
  min-width: 0px !important;
  height: 40px;
  padding: 0px !important;
  margin-left: auto !important;
}

.bb{
  background: #048A3A;
}
